:root {
    /* Paleta de colores */
    --c-pl-0: #36454f;
    --c-pl-1: #165280;
    --c-pl-2: #114470;
    --c-pl-3: #0b355f;
    --c-pl-4: #06274f;
    --c-pl-5: #00183e;
    --c-pl-6: #000b1d;
    --c-pl-7: #000610;
    --c-pl-9: #1051b987;
    --c-pl-10: #587cb7c0;
    --c-pl-15: #48628cc0;

    /* Colores brillantes */
    --c-l-0: #fcfdfd;
    
}
