@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('colors.css');

* html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: var(--c-pl-0);
    color: var(--c-l-0);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.nav-header {
    background-color: var(--c-pl-9);
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0px auto;
    width: 100%;
}

.nav-logo {
    color: var(--c-l-0);
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 20px;
    line-height: 80px;
}

.nav-toggle {
    color: var(--c-l-0);
    background-color: transparent;
    border: none;
    font-size: 60px;
    padding: 0px 20px;
    line-height: 60px;
    position:absolute;
    right: 0%;
    cursor: pointer;
    display: none;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
    left: 100%;
    transition: left 0.3s;
}

.nav-list {
    font-size: 20px;
    margin: 0px 5px;
    line-height: 50px;
    width: max-content;
}

.nav-link {
    color: var(--c-l-0);
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
}
.nav-link:hover {
    background-color: var(--c-pl-10);
    transition: 2s;
}

.sidebar {
    margin-top: 13.5vh;
    height: 86.5vh;
    overflow-y: auto;
}


hr.hnone {
    font-size: 0px;
    border: 0px;
    margin: auto;
    padding: 0px;
    width: 100vh;
    height: 0%;
}

hr.vnone {
    font-size: 0px;
    border: 0px;
    margin: auto;
    padding: 0px;
    width: 0%;
    height: 100vh;
}

section.plantilla {
    flex: 0;
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    border: 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 10px;
    position: relative;
}

pre.none {
    font-family: inherit;
    white-space: pre-line;
}

.btn {
    background-color: transparent;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 5px 0px;
    width: 150px;
    margin: 5px 5px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 1px #ffffff;
}

.btn-out {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid transparent;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
    margin: 1px;
}
.btn-out:hover {
    color: var(--c-pl-0);
    border-color: var(--c-pl-0);
}

.btn-white {
    border-color: #ffffff;
}
.btn-white:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 100px 1px #ffffff;
}

.image-fix {
    width: 300px;
    height: auto;
  }
img .image-fix {
    width: 500%;
    height: 500%;
    overflow: hidden;
    object-fit: cover;
}



























@media (max-width: 768px) {
    body {
        background-color: var(--c-pl-2);
        top: 60px;
    } 
    div.divnone {
        border: 30px;
        border-style: solid;
    }
    .nav-header {
    background-color: var(--c-pl-15);
    height: 60px;
    }
    .nav-logo {
        position: fixed;
        font-size: 25px;
        padding: 0px 20px;
        line-height: 60px;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
        padding: 5px 0px;
        top: 45px;
        background-color: #00000058;
        position: fixed;
        width: 100%;
        height: calc(100% - 45px);
        overflow:auto;
        left: 0%;
    }
    .nav-menu_visible {
        left: 100%;
    }
    .nav-link:hover {
        background: var(--c-pl-10);
        color: var(--c-l-0);
    }
    .nav-toggle {
        display: block;
        top: -15%;
    }
}